<div class="container mt-3">
    <div class="row border-bottom">
        <h2>About</h2>
    </div>
    <div class="row">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut risus vel lacus faucibus interdum quis placerat justo. Vivamus porta tempus cursus. Duis vel maximus nisi, sit amet molestie risus. Aliquam nec rutrum nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc justo nibh, cursus sit amet finibus ut, efficitur at massa. Phasellus bibendum nisl ut ligula vehicula, id lacinia ex lacinia. Vivamus urna purus, cursus ac neque at, fringilla pulvinar nulla. Etiam consectetur eleifend lectus, eget sagittis ligula venenatis sed. Aenean cursus diam vitae eros blandit, a mollis urna sagittis. Praesent viverra vehicula luctus.
        </p>
        <p>
            Integer interdum tristique erat. Nullam elementum est quis tempus mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vitae risus sit amet odio varius dictum. Proin ultrices dolor erat, at rutrum dui elementum eu. Quisque vitae feugiat erat. Proin enim odio, tempus id sapien id, mollis varius ligula. Cras quis magna eget elit finibus convallis. Cras interdum, quam quis rutrum ultrices, lorem mi pretium nisi, eu malesuada mauris diam a nisl. Quisque in semper nunc, eu accumsan dui. Integer scelerisque est at porta dictum. Duis bibendum elementum rhoncus. Curabitur lobortis iaculis malesuada. Donec commodo odio velit, in accumsan felis sollicitudin in.
        </p>
    </div>
    <div class="row">
        <h3>Subscribe</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    </div>
</div>
