<style>
  .destacado{
    background: #000000c4;
    display: inline;
    box-shadow: -10px 0 0 0 #000000c4,10px 0 0 0 #000000c4;
    pointer-events: initial;
};
</style>
<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleInterval" class="carousel slide mt-1" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../../assets/imgs/cristiano.jpg" class="d-block w-100 img-fluid " height="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="destacado">GUERRA ENTRE DOS LEYENDAS DEL MAN.UNITED</h1>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../assets/imgs/boca.jpg" class="d-block w-100 img-fluid" height="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="destacado">SE LESIONO EL KAISER</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/messi.jpg" class="d-block w-100 img-fluid" height="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block ">
                        <h1 class="destacado">LA HUMILDAD DEL MAS GRANDE</h1>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h2>DESTACADO</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="https://www.lequipe.fr/_medias/img-photo-jpg/les-notes-de-chelsea-real/1500000001627141/0-280-187-75/ba2a0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.lequipe.fr/_medias/img-photo-jpg/lo-celso-et-upamecano-i-terron-presse-sport/1500000001627140/0:0,1499:999-280-187-75/8a063" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.lequipe.fr/_medias/img-photo-jpg/de-bruyne-a-permis-de-city-de-se-defaire-d-une-equipe-de-l-atletico-tres-accrocheuse-comme-toujours-afp/1500000001626788/0:0,1498:999-280-187-75/4aefc" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://www.lequipe.fr/_medias/img-photo-jpg/luis-diaz-liverpool-a-reussi-une-grosse-prestation-chez-son-ancien-rival-p-nunes-reuters/1500000001626790/0:0,1498:999-280-187-75/4e2de" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            
          </div>
          <h2>RESUMEN DE LA SEMANA</h2>
            <iframe width="100%" height="46%" src="https://www.youtube.com/embed/oynYiIopu9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" height="46%" src="https://www.youtube.com/embed/geXqECKVhxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

</div>