<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="https://www.lequipe.fr/_medias/img-photo-jpg/jasmin-kurtic-avec-la-selection-slovene-lors-d-un-match-amical-face-au-qatar-le-29-mars-igor-kralj-pixsell-expa-presse-sports/1500000001627206/0:0,1998:1332-350-233-75/241ec" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://www.lequipe.fr/_medias/img-photo-jpg/le-match-des-lyonnais-a-west-ham-ne-sera-pas-diffuse-en-clair-jeudi-n-luttiau-l-equipe/1500000001627038/0:0,1998:1332-350-233-75/3cecb" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://www.lequipe.fr/_medias/img-photo-jpg/joan-laporta-le-president-du-fc-barcelone-marc-graupera-aloma-afp7-presse-sports/1500000001627004/54:32,1994:1325-350-233-75/ec4fa" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://www.lequipe.fr/_medias/img-photo-jpg/le-depit-d-edouard-mendy-b-cremel-l-equipe/1500000001627160/0:0,1998:1332-240-160-75/c2431" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
</div>